*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.firstnav{
	height:30px;
	width: 100%;
	background: whitesmoke;
	display: inline-flex;
	justify-content: space-between;
	padding: 0px 100px 0px 100px;

}
.list1 ul{
	display:inline-flex ;
	margin-top: -3px;
}
.list1 ul li{
	list-style-type: none;
	text-decoration: none;
	padding: 8px;
}
.list1 ul li a{
	list-style-type: none;
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-family: serif;
	font-weight: lighter;
}
.list1 ul li a:hover{
	color: red;
}
.list2 ul li {
	list-style-type: none;
	text-decoration: none;
	font-size: 13px;
	padding: 8px;
}
.list2 ul li a{
	color: black;
	text-decoration: none;
}

.list2 ul li a:hover{
	color: red;
	text-decoration: underline;
}

.list2 ul{
	display: inline-flex;
	margin-top: -3px;
}
.list3{
	display: none;
}
.list3 ul{
	display: inline-flex;
	margin-top: px;
}
.list3 ul li {
	list-style-type: none;
	text-decoration: none;
	color: black;
	font-size: 14px;
	padding: 8px;
	font-family: serif;
	font-weight: lighter;
	cursor: default;
}
.list3 ul li a{
	text-decoration: none;
	color: black;
}
.list3 ul li a:hover{
	color: red;
}
@media only screen and (min-width: 680px) and (max-width: 768px){
	.firstnav{
	padding: 0px 70px 0px 100px;

}
	

}
@media only screen and (min-width: 200px) and (max-width: 680px){
	.firstnav{
	padding: 0px 0px 0px 0px;
	width:100%;

}
	.list1{
        display: none;
	}
	.list2{
		display: none;
	}
	.list3 {
		display: block;
		width: 100%;
	}

	.list3 ul {
		width: 100%;
	}
	.list3 ul li{
		margin: auto;
        font-size:12px;
        /* padding:; */

	}
}
/*nav*/
.navigation{
	/* border:; */
	width: 100%;
	height: 70px;
	display: inline-flex;
	justify-content: space-between;
	/* position:; */
}

.internet-B{
	display: inline-flex;
	margin: 14px 0px 0px 0px;
	background: linear-gradient(90deg,red,darkred);
	width: 180px;
	height: 38px;
	color: whitesmoke;
	border-radius: 20px;
	justify-content:space-evenly;

}

.internet-B a{
	color: whitesmoke;
	text-decoration: none;
}
.internet-B h4{
	font-family:sans-serif;
	font-size: 11px;
	padding: 10px 20px 0px 0px;
}
.internet-B i{
	padding: 10px 0px 0px 20px;
}
.internet-hover{
	margin: 10px 0px 0px 0px;
	background-color:black;
	height: 140px;
	position: absolute;
	width: 180px;
	opacity: 0.9;
	display: none;
}
.internet-hover ul{
	padding-top: 16px;
	width: 145px;
	margin: auto;
	
}

.internet-hover ul li{
	list-style-type: none;
	border:2px solid white;
	padding: 10px 10px 10px 40px;
	
	
}
.internet-hover ul li a{
	text-decoration: none;
	color: whitesmoke;
	font-size: 11px;
	font-family: sans-serif;
}
.internet-hover ul li:hover{
   background: red;
   border: 2px solid black;
   opacity: 0.9;

}
 .navigate{
   position: relative;
	height: 69px;
	width: 180px;
	/* border:; */
	margin-left: 85px;
}
.navigate:hover .internet-hover{
   display: block;
   transition: 0.5s;
}

/*second menus navigation*/
#menu{
	display: inline-flex;
	justify-content: space-evenly;
	/* background:; */
	margin-top:18px;
	z-index: 1000;
}
.parent {
	display: block;
	position:relative ;
	/* border-right:; */
	margin: 5px;
	width: 80px;
}
.parent .personal{
   /* border:; */
   padding:6px;
   text-align: center;
   font-size: 11px;
   font-family: sans-serif;
   list-style-type: none;
}
.parent .personal a{
	/*margin: 10px;*/
	color:black;
	text-decoration: none;
	font-weight: bold;
}
.parent .personal a:hover{
	color: red;
	transition: 0.3s;
}

.child {
	display: none;
	width: 200px;
	margin-top:10px;
	/* border:; */
	background-color:white;
}
.parent:hover  .child {
	display:block;
	position:absolute;
	display: inline-flex;
}

.child li {
	
	list-style-type: none;
}
.child .bank{
   font-weight: bold;
}
.child li a{
	line-height:25px;
	color:black;
	font-size: 12px;
	font-family: sans-serif;
	padding:0px 0px 0px 10px;
	text-decoration: none;
}

/*.p1 .bank a:hover{
	color: darkred;
}*/
.container-personal{
	width: 800px;
	display: flex;
}

#p1{
	position:relative;
	margin-top: 15px;
	/* border:; */
}
#p1:hover .bank{
	color: brown;
}
#child{
	/*position:absolute ;*/
	display: none;
	margin-top: 370px;
	width: 800px;
	height: 250px;
	/* border:; */
}


#p1:hover #child{
	display:block ;
	position:absolute ;
}

/*search*/
.navigate-S{
	/* border:; */
	/* width:; */
	height: 70px;
	display: inline-flex;
	/* justify-content:; */
}
#search{
       width: 100px;
       height: 35px;
       cursor: pointer;
       border-radius: 20px;
       margin: 15px 0px 0px 180px;
       background: white;
	}
#search3{
       width: 100px;
       height: 35px;
       cursor: pointer;
       border-radius: 20px;
       margin:15px 0px 0px 180px;
       display:none;
	}
.internet-S{
	display: inline-flex;
	margin: px 0px 0px 5px;
	width: 100px;
	height: 35px;
	color: whitesmoke;
	border-radius: 20px;
	justify-content:space-evenly;
}

.internet-S h4{
	color: black;
	font-family:sans-serif;
	font-size: 11px;
	padding:8px 0px 0px 0px ;
	font-weight: bolder;
}
.internet-S i{
	padding:13px 0px 0px 0px;
	font-size: 11px;
	color: black;
	font-weight: bolder;
	
}
.logo-z{
	/* border:; */
	width: 70px;
	height: 70px;
	margin-top:0px;
	margin-left: 20px ;
	opacity: 1 important!;
	/* background:; */
}
.logo-z img{
	padding-left:12px;
	padding-top: 8px;
}

.input-B{
	margin-top: 200px;
	margin-left: -750px;
	display:none;
}
.input-B input{
	width: 400px;
	height: 50px;
}
.input-B input[type = text]{
	text-align: center;
	font-size: 22px;
	color:white;
	outline: none;
	background-color: transparent;


}
 .input-B input::placeholder{
 	color:white;
 }
  .input-B input{
  	border-top-style: hidden;
  	border-right-style: hidden;
  	border-left-style: hidden;
  	border-bottom-style:hidden;
  }
  .no-outline{
  	outline: none;
  }

  /*design for responsive only*/
  .section-res{
  	 display:none;
  }
.logo-zenith{
  	margin-top :-60px;
  	margin-left:80%;
  	height:30%;
  	width:20%;

  }
  .logo-zenith img{
  	height: 80%;
  	width: 80%;
  }

  .sectionAll{
  	margin-top: 30px;
  	display:flex;
  	height: 10%;
  	max-width:60% ;
  }

  /*bars*/
  .bars1{
   width:100%;
   height:100%;
  	padding:10px;

  }
  .bars2{
   width:100%;
   height: 100%;
  	padding:10px;
  }
  .bars3{
   width:100%;
   height:100%;
  	padding:10px;
  }
  .bars4{
   width:100%;
   height:100%;
  	padding:10px;
  }
  .bars5{
   width:100%;
   height:100%;
  	padding:10px;
  }
  .responsive-bar{
  	color: red;
  	cursor: pointer;
  	margin-left: 20px; 

  }
  .responsive-bar h4{
  	color: black;
  	font-size: 18px;
  	margin-left: -14px;
  }
  .responsive-close{
  	color: red;
  	cursor: pointer;
  	display: none;
  	margin-left: 20px; 
  }
  .responsive-close h4{
  	color: black;
  	font-size: 18px;
  	margin-left: -14px;
  }
  .nested-list{
  	display: none;
  	margin-top: 20px;
  	width: 100%;

  }
  /*search*/
  .responsive-search{
  	 color: red;
  	cursor: pointer;
  	margin-left: 35px;
  }
  .responsive-search h4{
  	 color: black;
  	font-size: 18px;
  	margin-left: -14px;
  }
 .responsive-barclose{
 	color: red;
  	cursor: pointer;
  	display: none;
  	margin-left: 35px;
 }
 .responsive-barclose h4{
 	 color: black;
  	font-size: 18px;
  	margin-left: -14px;
 }
 .input-search {
   display: none;
   margin-top: 20px;
   width: 100%;

 }
.input-search input[type = text]{
	width: 90%;
	height: 50px;
	outline: none;
	border: none;
	background-color: whitesmoke;
	color:rgb(39,41,45);
	font-size: 16px;
	padding: 8px;
	margin: auto 5%;
	font-weight: bolder;
	border-radius: 8px;

}
.input-search input[type = text]:focus{
	border: 1px solid red;
}

   /*LOCK*/
.responsive-lock{
	color: red;
  	cursor: pointer;
  	margin-left: 20px;
}
.responsive-lock h4{
	 color: black;
  	font-size: 18px;
  	margin-left: -14px;
}
.responsive-lock-close{
	color: red;
  	cursor: pointer;
  	margin-left: 20px;
  	display: none;
}
.responsive-lock-close h4{
	color: black;
  	font-size: 18px;
  	margin-left: -14px;
}
#internet-login{
 display: none;
 margin-top: 20px;
 margin-left: 40%;
 width: 100%;
}

.internet-login h3{
	color:black;
	font-weight: lighter;
}

.personal-ul{
	background-color:red;
	width: 180px;
	height: 75px;
	margin-top: 20px;
}
/* .personal-ul ul{ }*/

.personal-ul li{
	list-style-type: none;
	padding: 10px;
	background:red;
	text-align: center;
}
.personal-ul li:hover{
	background-color:darkred ;
}
.personal-ul li a{
	text-decoration: none;
	color:white;
	font-size: 14px;
	font-weight: bold;

}
.responsive-button{
	margin-left: 40px;
}
.responsive-button button{
	width: 100px;
	height:30px;
	border: none;
	margin-top:15px;
	background-color: whitesmoke;
	cursor: pointer;
}
.responsive-button button a{
	text-decoration: none;
	color:rgb(39,41,45);
	font-size: 16px;
	padding: 5px;

}

/*LINK*/
.responsive-link{
	color: red;
  	cursor: pointer;
  	margin-left: 20px;
}
.responsive-link h4{
	color: black;
  	font-size: 18px;
  	margin-left: -14px;
}
.responsive-link-close{
  color: red;
  cursor: pointer;
  margin-left: 20px;
  display: none;
}
.responsive-link-close h4{
	color: black;
  	font-size: 18px;
  	margin-left: -14px;
}
.ul-responsive{
	margin-top: 10px;
	display: none;
	margin-left: 40%;
	width: 100%;

}
.ul-responsive li{
	list-style-type: none;
	padding: 4px;
}
.ul-responsive li a{
	text-decoration: none;
	color:rgb(39,41,45);;
	font-weight:bolder;
}

/*IMAGE*/
.image{
	 cursor: pointer;
}
.image i{
	color: red;
	cursor: pointer;
	margin-left: 35px;
}
.image h4{
	color: black;
  	font-size: 18px;
}

/*.up-menu {
   display: ; 
 } */
.up-menu img{
   position: absolute;
   margin-left: 115px;
   margin-top:-40px;
   opacity: 0.8;
}
.select-country{
	margin-top:30px;
	display: none;
	width:700px;
	height: 400px;

}
.c-country{
	background-color:black ;
	opacity: 0.8;
	width:300px;
	height:400px;

}
.country-name{
	padding-top: 20px;
}
.country-name h4{
	font-size: 14px;
	font-weight: bolder;
	color:#ccc;
	padding: 10px;

}
.ul{
	display:flex;
	justify-content: space-around;
}
.ul li{
	list-style-type: none;
	width: 90px;
	margin-top: 10px;
}
.ul a{
	text-decoration: none;
}
.ul p{
	width: 50px;
	font-size: 12px;
	color: #ccc;
	font-weight: bolder;
	margin-top: -22px;
	margin-left: 35px;
}
.ul2{
	display:flex;
	margin-left: 5px;
	margin-top: 10px;
}
.ul2 li{
	list-style-type: none;
	margin-top: 10px;
	width: 90px;
}
.ul2 a{
	display: inline-flex;
	text-decoration: none;
}
.ul2 p{
	width: 50px;
	font-size: 12px;
	color: #ccc;
	font-weight: bolder;
	margin-top: 2px;
	margin-left: 4px;
}
.subsidiaries{
	margin-top:15px ;
}
.subsidiaries h4{
	font-size: 14px;
	font-weight: bolder;
	color:#ccc;
	padding: 10px;
}
.second-ul li{
	list-style-type: none;
	padding: 8px;
}
.second-ul a{
	text-decoration: none;
	color: #ccc;
	font-size: 14px;
}

/*nested-list*/
/*.nested-list{
	width:700px;
}*/
.nested-list ul{
	display: block;
   margin: 0;
   padding:0px;
   list-style-type: none;
   background-color: #ccc;

}

.fa-caret-down{
	float:right;
	margin-top:-28px;
	margin-right:15px;
}

.nested-list li h3{
	padding: 12px 12px 12px 8px;
	color:rgb(39,41,45);
	text-decoration: none;
	font-size: bold;
	font-size: 12px;
	border-bottom: 1px solid whitesmoke;
}

.nested-list li{
	border-bottom: 1px solid whitesmoke;
	width: 100%;
}

.nested-list li a{
	list-style-type: none;
	display: block;
	padding: 12px 12px 12px 8px;
	text-decoration: none;
	color:rgb(39,41,45);
	font-size: 12px;
	font-weight: bold;
}
.nested-list li a:hover{
	border-left: 6px solid rgb(39,41,45);
}
.nested-list li li h4{
	padding: 12px 12px 12px 8px;
	color:rgb(39,41,45);
	font-size: 12px;
	border-bottom: 1px solid whitesmoke;
}
.nested-list li li h4:hover{
  border-left: 6px solid rgb(39,41,45);
}
.nested-list li li li a{
	padding: 12px 12px 12px 17px;
	color:rgb(39,41,45);
}
.nested-list li li li a:hover{
	border-left: 8px solid rgb(39,41,45);
}
 
/*PERSONAL*/
#list-menu{
	display:none;
}
#child-list5{
	display:none;
}
#child-list3{
	display:none;
}
 /*sme*/
#list-menuSme2{
	display: none;
}
#child-listSme2{
	display: none;
}
#child-listSme4{
  display: none;
}

/*corporate*/
#child-corporate2{
	display: none;
}
/*media*/
#child-media{
	display: none;
}

/*investor relation*/
#child-investor1{
	display: none;
}
#child-investor3{
	display: none;
}
/*csr*/
#child-csr{
	display: none;
}
/*about us*/
#child-about{
	display: none;
}


/*.nested-list li a{
   padding: 5px;
	text-decoration: none;
	color:black;
	font-size: 13px;
	font-weight: bolder;4rf
}*/

/*second navigation media query*/
@media only screen and (min-width: 1238px) and (max-width: 1330px){
	.navigate-S{
		margin-left:-112px;
	}
}
@media only screen and (min-width: 1010px) and (max-width: 1238px){
	#menu{
		margin-left:-3px;
	}
	.navigate{
		width: 15%;
	}
	.internet-B{
		width: 100%;
	}
	.navigate-S{
		margin-left: -180px;
	}
	
  }
  @media only screen and (min-width: 768px) and (max-width: 1010px){
  	  .navigation{
  	  	display: none;
  	  }
     .section-res{
     	display:block;
     }
  }
  @media only screen and (min-width: 484px) and (max-width: 768px){
  	  .logo-zenith{
  	  	width:15%;
  	  	height: 15%;
  	  	margin-left: 85%;
  	  }
  	  .sectionAll{
  	  	max-width:80% ;
  	  }
  	  .select-country{
  	  	margin-left: -50%;
  	  }
  	  .navigation{
  	  	display: none;
  	  }
     .section-res{
     	display:block;
     }

  }
  @media only screen and (min-width:91px) and (max-width: 484px){
  	.sectionAll{
  		max-width: 70%;
  		margin-top: 70px;
  	}
  	.logo-zenith{
     display:none;
  }
   .select-country{
  	  	margin-left: -80%;
  	  }
   .navigation{
  	  	display: none;
  	  }
  .section-res{
     	display:block;
     	margin-top: -60px;
     }
}



/*section homepage-slider*/
.s-slider{
	background-color:#ccc;
	height: 530px;
	width: 100%;
}
.center{
	height: 530px;	
}
.center img{
	width: 100%;
	height: 530px;
}
/* @media only screen and (min-width: 768px){
	.center{
	width: 100%;
	}
} */

 @media only screen and (max-width: 768px) {
	.center img{
	width: 100%;
	height: 200px;
}
 .s-slider{
	 height: 200px;
 }
 .center{
	 height: 200px;
 }
  
}
@media only screen and (max-width: 768px) {
	.stickyList{
		display: none;
	}
}

/*sticky-list*/
.stickyList{
	width: 140px;
	height:270px;
	/* border:; */
	background-color: white;
	box-shadow:2px 2px 2px 2px whitesmoke;
	position:relative;
	float:right;
	margin-top:-250px;
	opacity: 0.9;
}
.stickyList ul{
	list-style-type: none;
	/* margin:; */
}
.stickyList ul li {
  padding-top: 10px;
  padding-bottom:10px;
  border-bottom:1px solid #ccc;
}
.stickyList ul li:hover{
  background-color: red;
  border: 1px solid red;
}
.stickyList ul li a:hover{
	 color: white;
    border:none;
}
.stickyList ul li a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
   	padding: 10px;
	text-align: center;
	color:rgb(39,41,45) ;
}
/*section3*/
.section3{
   height:150px;
   position:relative;
   width: 100%;
   transition:1s;
}
@media only screen and (max-width: 768px) {
.section3{
	display: none;
}
}
.p2{
	/* background-color:; */
	display: flex;
	justify-content: center;
	width:100%;
	position:relative;
	/* z-index:; */

}

.easy{
	width:150px;
}

	.easy a img{
	width: 60px;
	height: 60px;
	margin-left:45px;
	margin-top: 10px;

}
 
.easy h3{
	font-size: 10px;
	color:rgb(39,41,45);
	text-align: center;
	padding-top: 5px;
}

.easys{
	width:150px;
	height: 120px;
	/* border:;
	position:; */
	margin:5px 10px;
	margin-top:-15px;
}
.easys a img{
	width: 60px;
	height: 60px;
	margin:10px 35px;
	/* margin-top:; */
}
.easys h3{
	font-size:10px;
	color:rgb(39,41,45);
	text-align: center;
	/* padding-top:; */
}

.easychild{
	position:absolute;
    margin-top:35px;
	/* border:; */
	width:600px;
}
.easyparent{
	width:150px;
	height: 140px;
	margin: 20px;
	position:relative;
}

#easychild2{
	display:none;
}
.easy:hover{
	background-color: #ccc;
}
.easyparent:hover #easychild2{
	display:block;
}

/*.easyparent:hover .section3{
	height: 500px;
}*/

.greeks1{
  width:2px;
  height: 33px;
  background-color:red;
  position: absolute;
  top:-23%;
  left: 12%;
}
.greeks2{
	width:350px;
	height:2px;
	background-color:red;
	position: absolute;
	top:0%;
	left:70%;
	transform: translate(-50%,-50%);
}
.greeks2::before{
	content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color:red;
  animation: animated 2s forwards;
}
@keyframes animated{
	100%{
		right:100%;
	}
}
.greeks{
	width:150px;
	height:2px;
	background-color:red;
	position: absolute;
	top:0%;
	right:-70%;
	transform: translate(-50%,-50%);
}
.greeks::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:red;
  animation: animate 2s forwards;
}
@keyframes animate{
	100%{
		left:100%;
	}	

}

/*section4*/
.section4{
	position: relative;
	height:450px;
	width: 100%;
}
.section4-img-container{
	width: 100%;
}
@media only screen and (max-width: 768px) {
	.section4{
		height: 250px;
	}
	.section4-img{
		height: 250px;
	}
}
@media only screen and (max-width: 768px){
	.image-text-container{
		height: 250px !important;
		width: 100% !important;
		margin-top: -78% !important;
   }
   .image-text{
   	border: 1px solid red;
   	left: 0px !important;
   	padding: 3px !important;
   }
  
  .image-text h3{
  	font-size:18px !important;
  	text-align: center !important;
  }
  .image-text p{
    font-weight: 400 !important;
    text-align: center !important;
    font-size: 15px !important;
    width: 90%;
    margin: auto;
  }
  .section4-link{
  	left: 30px !important;
  	width: 80% !important;
	top:15px !important;
  }
  
}


@media only screen and (max-width: 768px){
	.image-text-container{
		margin-top: -70% !important;
	}	
}


.section4-img{
	width: 100%;
}
.image-text-container{
	height: 300px;
	position:absolute;
	margin-top: -30%;
	width:45%;
	border:1px solid red;
}
.image-text{
	position: absolute;
	margin-top:30px;
	/*height: 200px;*/
	left:130px ;
}
.image-text h3{
	color:rgb(39,41,45);
	font-family: sans-serif;
	font-weight: bolder;
	font-size: 26px;
}
.image-text p{
	padding-top: 15px;
	color:rgb(39,41,45);
	font-family: sans-serif;
	font-size: 15px;
	line-height: 23px;
}

.section4-link{
	position: absolute;
	margin-top:180px;
	left:120px;
	width:43%;
	height:15%;
	display:flex;
	justify-content:space-evenly;
}
.section4-link button{
	background-color: red;
	border: none;
	width:45%;
	height:100%;
}
.section4-link button:hover{
	background-color: darkred;
}
.section4-link button a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-weight:bold;
	font-family: sans-serif;

}
/*sectiom5*/
.section5{
	height: 400px;
	width: 100%;
	background-color: red;
	position: relative;
}

@media only screen and (max-width: 768px){
	.section5 ul{
		width: 100%;
		border: 1px solid  white;
	}
}
.section5 ul{
  width: 50%;
  height: 70px;
  margin:auto 25%;
  top:35px;
  position: absolute;
 list-style-type: none;
 display:flex;
 justify-content: space-around;
}
.section5 ul li{
	border-bottom: 1px solid #ccc;
	padding:8px;
	padding-top:25px;
}
.section5 ul li:nth-child(1){
	border-bottom: 1px solid whitesmoke;
}
.section5 ul li a{
	text-decoration: none;
	color: white;
	font-size: 12px;
	font-family: sans-serif;
	font-weight: bold;
}
.section5-bg-image{
	width:15%;
	height:45%;
	position: absolute;
	margin: auto 27%;
  top:150px;
}
.section5-msg{
	position: absolute;
	height: 45%;
	width: 35%;
	margin: auto 43%;
	top: 150px;
}
.section5-msg h3{
	color: white;
	padding: 10px;
	font-size:25px;
	font-weight: bold;
  font-family: sans-serif;
}
.section5-msg p{
  color: white;
  padding: 10px;
  font-family:serif;
  font-size:16px;
}
.section5-msg button{
	background-color:whitesmoke;
	border: none;
	height: 20%;
	width: 30%;
	margin: auto 2%;
	margin-top: 18px;
	transition:1s;
}
.section5-msg button:hover{
	background-color: #ccc;
}
.section5-msg button a{
	text-decoration: none;
	color:#202124;
	font-size: 12px;
	font-weight:bold;
	font-family: sans-serif;
}
/*section-6*/
.section-6{
	height:350px;
	width: 100%;
	position:relative;
}
.content-video{
 background-color: rgba(0, 0, 0, 0.7);
 position: absolute;
 width: 100%;
 height:350px;
}

.vid-bg{
	position:absolute;
	max-height:350px !important;
	min-width: 100%;
	object-fit: fill;
	
}

.section-6 .asset-content{
	height: 50%;
	width:40%;
	position: absolute;
	margin: auto 30%;
	top:90px;
	z-index: 200px;
}
.asset-content h3{
	font-size: 28px;
	padding:10px;
}
.asset-content p{
	line-height:25px;
}
.asset-content button{
	background-color:rgba(0, 0, 0, 0.2);
	border:2px solid white;
	height: 25%;
	width:27%;
	margin: auto 35%;
	margin-top:20px;
	transition: 1s;
}
.asset-content button:hover{
	background-color: white;
}
.asset-content button a:hover{
	color: red;
}

.asset-content button a{
  text-decoration: none;
  padding:10px;
  padding-left: 30px;
  padding-right:30px;
	color:white;
	font-size: 12px;
	font-weight:bold;
	font-family: sans-serif;
}

/*footer*/
.footer{
	width: 100%;
	height: 450px;
	background-color:whitesmoke;
	position: relative;
}
.footer img{
	width: 100%;
	height:3px;
	position: absolute;
}

.footer .footerhead{
	border:1px solid red ;
	position: absolute;
	width:90%;
	height: 320px;
	margin-top:1%;
	margin-left:5%;
	display: flex;
	justify-content:space-evenly;

}
.footerhead .footer-c{
	border: 1px solid black;
	height:260px;
	width:17%;
	margin-top:20px;
	padding: 8px;
}
.footerhead .footer-c1{
	border: 1px solid red;
	width:23%;
	padding: 8px;
}
.footer-c h3{
	text-align:left;
	font-size: 12px;
	margin-left: 10px;
	font-weight: bold;
	font-family:sans-serif;
}
.footerhead ul {
	list-style-type: none;
	padding: 12px;
} 

.footerhead ul p a{
	font-size:11px;
	text-decoration: none;
	color:rgb(39,41,45);
	font-family:sans-serif;
	line-height:18px;
	transition: 0.1s;
}
.footerhead ul p a:hover{
	color: red;
}
 /* footer-link */
.footer-link{
	position: absolute;
	top:75%;
	left: 6%;
	width:88%;
	height:45px;
	border:1px solid #ccc;
	background-color:white;
	border-radius: 2px;
}
.footer-link ul{
	display: flex;
	justify-content:flex-start;
	height:45px; 
	margin-top:-2px;
	padding: 5px;
	list-style-type: none;
}
.footer-link ul li{
	padding: 8px 0px 8px 0px;
	margin-left: 5px;
	border:1px solid black;
	
	border-radius:50%;

}

.footer-link ul li a{
	text-decoration: none;
	color:black;
}
.footer-link ul li a i{
	margin-top: -8px;
	padding:8px 10px 5px 10px;
}

.footer-link ul li a .fa-whatsapp:hover{
	color: green;
}

.footer-link ul li a .fa-instagram:hover{
	color: brown;
}

.footer-link ul li a .fa-linkedin:hover{
	color:blue;
}

.footer-link ul li a .fa-youtube:hover{
	color:red;
}

.footer-link ul li a .fa-facebook:hover{
	color:darkblue;
}

.footer-link ul li a .fa-twitter:hover{
	color:skyblue;
}
/* footer-page */
.footer-page{
	width: 93%;
	height: 50px;
	border: 1px solid red;
	position: absolute;
	margin-top:29%;
	margin-left:1%;
	display: flex;
	justify-content:stretch;
}
.footer-page .footer-page-icon{
	border:1px solid black;
	width: 4%;
	height:45px;
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
	margin-top:1.5px;
}
.footer-page .footer-page-icon1{
	border:1px solid black;
	width: 4%;
	height:45px;
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
	margin-top:1.5px;
}

.footer-page .footer-page-icon i{
	margin-left:37%;
	margin-top:25%;
	color: white;
}
.footer-page .footer-page-icon1 i{
	margin-left:37%;
	margin-top:25%;
	color: white;
}
.footer-page ul{
	list-style-type:none;
	display: flex;
	margin-left:2%;
	margin-top: 1.5%;
}
.footer-page ul li{
	font-size:12px;
	font-family:sans-serif;
	color:rgb(39,41,45);
}
.footer-page ul li a{
	text-decoration: none;
	color:rgb(39,41,45);
	transition: 0.1s;
}
.footer-page ul li a:hover{
	color: red;
}
/* footer-page-link */
.footer-page-icon1{
	display: none;
}
.footer-page-link{
	height: 250px;
	position: absolute;
	width:4%;
	border: 1px solid red;
	margin-top: 10%;
	margin-left: 1%;
}

.footer-page-link ul{
	list-style-type: none;
	height: 250px;
	width:100%;
	padding: 5px;
	border: 1px solid blue;
}
.footer-page-link ul li{
	height: 35px;
	width: 90%;
	padding-left: 10px;
	padding-top: 9px;
	border-radius: 50%;
	margin-top: 5px;
	border:1px solid red;
}
.footer-page-link ul li a{
	text-decoration: none;
	color:white;
}
.footer-page-link ul .li-1{
	background-color: green;
}
.footer-page-link ul .li-2{
	background-color: blue;
}
.footer-page-link ul .li-3{
	background-color:lightblue;
}
.footer-page-link ul .li-4{
	background-color:rgb(189, 75, 75);
}
.footer-page-link ul .li-5{
	background-color:rgb(190, 23, 23);
}
.footer-page-link ul .li-6{
	background-color:rgb(12, 131, 179);
}
.footer-page-link ul li:hover{
	background-color:rgba(0, 0, 0, 0.829);
}

